3-RobotTank/Server/GpsSite/Web References/com.leobiot.www/ActWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HandleAct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cli" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pri" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="act" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="param" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prop" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HandleActResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HandleActResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HandleActSoapIn">
    <wsdl:part name="parameters" element="tns:HandleAct" />
  </wsdl:message>
  <wsdl:message name="HandleActSoapOut">
    <wsdl:part name="parameters" element="tns:HandleActResponse" />
  </wsdl:message>
  <wsdl:portType name="ActWebServiceSoap">
    <wsdl:operation name="HandleAct">
      <wsdl:input message="tns:HandleActSoapIn" />
      <wsdl:output message="tns:HandleActSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ActWebServiceSoap" type="tns:ActWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HandleAct">
      <soap:operation soapAction="http://tempuri.org/HandleAct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ActWebServiceSoap12" type="tns:ActWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HandleAct">
      <soap12:operation soapAction="http://tempuri.org/HandleAct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActWebService">
    <wsdl:port name="ActWebServiceSoap" binding="tns:ActWebServiceSoap">
      <soap:address location="http://www.leobiot.com/ActWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ActWebServiceSoap12" binding="tns:ActWebServiceSoap12">
      <soap12:address location="http://www.leobiot.com/ActWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>